registry=https://registry.npmmirror.com/
fetch-timeout=600000
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips
node-linker=isolated
strict-peer-dependencies=false
auto-install-peers=true
engine-strict=false
